{% extends 'index.html' %}

{% block content %}
    <!-- <div class="container ">
        <div class="mx-auto" style="width: 500px; padding-top: 230px;">
            <h2>Mr.Superstition have not yet idea what to display on this page. :)</h2>
        </div>
    </div> -->
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col">
            <center>
                <p>
                    Yo, I'm in the final stages of my undergraduate computer science studies, and as a labolratory assistant.
                    Did programming, since 2018. I recently learning back-end and machine learning. Learning programming starts from the C language, which learns the basics of programming, programming algorithms, data structures. Followed by learning object oriented programming using the Java programming language, and is currently a beginner python programmer.
                    and I think, with programming we can make something interesting.
                </p> 
                <p>
                    I'm currently looking for a job as a back-end freelancer.<br>
                    note: I do with django framework
                </p>   
            </center>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>    
{% endblock %}