{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr. Superstitious</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/oldsorcererclipart.png' %}" type="image/x-icon">
</head>
<body>
    <div class="topnav">
        <a href="{% url 'thoughts' %}">Thoughts</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'home' %}">Home</a>
    </div>
    {% block content %}
    
    {% endblock %}
    <!-- <br>
    <br>
    <br>

    {% if user.is_authenticated %}
    <center>
      <p class="card-text"><small class="text-muted"><a href="{% url 'logout' %}" style="color: grey">logout?</a></small></p>
    </center>
    {% endif %} -->

    {% if user.is_authenticated %}
        <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">Hallo, {{ user }}! <a href="{% url 'logout' %}" style="color: grey">logout?</a></p>
    {% endif %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>